doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')

  title admin-site
  script 
    

  script(type='text/javascript').

header
  h1 #{user}
  button.button-logout(onclick="handleLogout()") log out
section.container
  section.sidebar
    button ADD
    button DELETE
    button UPDATE
    button GET
  main
    form(action='/pokemon' method='POST')
      label(for='name') Name
      input#username(type='text' name='name' require='')

      label(for='img') Img
      input#username(type='text' name='img' require='')

      label(for='description') Description
      input#username(type='text' name='description' require='')

      label(for='owner') Owner
      input#password(type='text' name='owner' require='')

      label(for='pokemonTypeId') Type
      input#username(type='number' name='pokemonTypeId' require='')

      label(for='pokemonAbilityId') Ability
      input#password(type='number'  name='pokemonAbilityId' require='')


      button.enviar(type='submit') ENVIAR 
