doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    
    title Login
  body 
    .background
      .shape
      .shape
    form(action='/auth/login' method='POST')
      h3 Login
      label(for='email') e-mail
      input#username(type='text' name='email' placeholder='Email')
      label(for='password') Password
      input#password(type='password' name='password' placeholder='Password')
      button Log In
      button.register Register
