doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/static/styles/login.css')
   
    title Login
  body 
    .background
      .shape
      .shape
    form(action='/auth/register' method='POST')
      h3 Login
      label(for='unserName') userName
      input#username(type='text' name='firstName' placeholder='userName' require)
      label(for='email') e-mail
      input#username(type='email' name='email' placeholder='Email' require)
      label(for='password') Password
      input#password(type='password' name='password' placeholder='Password' require)
      button Register
      button.register Log In
