.page_dashboard{
    height: 100vh;
    background-color: white;
}

aside{
    float: left;
    height: 100%;
    background-color: rgb(37, 37, 37);
    width: 15%;
}
.user_profile{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    margin-top: 1rem;
    border-bottom: 1px blanchedalmond dashed;
    color: white;
}
.user_profile img{
    width: 10rem;
    border-radius: 50%;
    margin-bottom: .5rem;
  
}
.user_profile img:hover{
    filter: opacity(80%); 
    cursor: pointer;
}
.user_profile input{
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    text-align: center;
    padding: 0;
    background-color: transparent;
    margin: 0;
}
.user_profile input:focus{
    text-align: start;
}
hr{
    width: 100%;
    position: relative;
    top: -16px;
    border: solid 2px white;
}
hr::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border: solid 2px aqua;
}
.container{
    height: 100vh;
    background-color: rgb(100, 97, 97);
    padding: .1rem;
    width: 85%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.heading{
    padding: .5rem;
    width: 51rem;
    margin-left: auto;
    margin-right: auto;

}
.form-dash{
    width: 100%;
}

.icon-lupa{
    width: 50px;
    border: 1px solid black;
    /* border-radius: 60px; */
}
.bars_container{
    width: 100%;
    height: 50%;
    background-color: aquamarine;
}
.heading{
    width: 80%;
    display: flex;
}
.nav_dashboard ul{
    display: flex;
    flex-direction: column;
    border-bottom: 1px blanchedalmond dashed;
}
.nav_dashboard ul li{
    display: block;

}
.nav_dashboard ul li:hover{
    background-color: rgb(83, 81, 81);
    color: teal;
    cursor: pointer;
}
table{
    background-color: white;
    width: 50%;
    height:20rem;
}
table, th, td{
    border: 1px solid;   
}
td:hover{
    background-color: aqua;
}
