.hero {
  width: 100%;
  height: 70vh;
  background-color: aqua;
}

.image-hero {
  height: 100%;
  z-index: 4;
}

.change_slider_box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  bottom: 3rem;
}

.change_slider_button {
  border-radius: 50%;
  padding: 0.5rem;
  margin-left: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.change_slider_button:focus,
.change_slider_button:hover {
  background-color: aqua;
}
