doctype html
html(lang='en')
    head 
    style(type='text/css').
        .remark{
            width:40px
            background: red 
        }
    title Pokemon! 
    body 
        h1 Pokemons 
        .remark 
            p #{pokemons} 