doctype html
html 
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="http://localhost:5000/static/styles/modal.css")
    title Pokemon       

    style.

      *,
      *::before,
      *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Roboto", sans-serif;
      }
      img{
        width: 100%;
      }
      header{
        display: flex;
        justify-content: space-between;
        align-items:center;
        height: auto;
        padding: .5rem;
        width: 100%;
        background-color: steelblue;
      }
      nav{
        display: flex;
        margin-bottom: 2rem;
        width:100%;
        padding:.5rem;
        background-color: rgba(48, 115, 170, 0.63);;
        justify-content: center;
        align-items: center;
      }

      .button{
        padding: 16px;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: bold;
        margin-right:5px;
      }

      .button-logout{
        border-radius: 20px;
      }

      .card__container{
        display: grid;
        grid-template-columns: repeat(3, 300px);
        justify-content: space-evenly;
      }

      .card__content {
        border-radius: 3px;
        border: teal 2px solid;
        background-color: teal;
      }

      .card_body {
        padding: .5rem;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        font-size: 1.3rem;
      }

      //- .card_body .card__info2{
      //-   display: none;
      //- }
      .card__button{
        font-size: xx-large;
      }
  body 
    header
      h1 Pokemon-api
      .button 
        button.button.button-logout(onclick="handleLogout()") log out     
    nav
      button.button#myBtn(onclick="openModal()") ADD
      button.button DELETE
      button.button UPDATE    
    main
      .card__container
        each pokemon in pokemons
          .card__content
            img(src=pokemon.img alt='alola imagen')
            .card_body
              p.card__info.name #{pokemon.name}
              p.card__info2 #{pokemon.owner}
              p.card__info2 #{pokemon.pokemonTypeId}
      .modal#myModal
        // Modal content    
        form(action='/pokemon' method='POST' class='modal-content')
          span.close &times;
          input(placeholder='name' type='text' name='name' require='')
          input(placeholder='img' type='text' name='img' require='')
          input(placeholder='description' type='text' name='description' require='')
          input(placeholder='owner' type='text' name='owner' require='')
          input(placeholder='pokemonTypeId' type='number' name='pokemonTypeId' require='')
          input(placeholder='pokemonAbilityId' type='number' name='pokemonAbilityId' require='')
          button.enviar(type='submit') Enviar
      script(type='text/javascript' src='http://localhost:5000/static/js/modal.js').