doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
  body
    h1 Register
    form(action='/auth/register' method='POST')
      input(name='firstName' type='text' required='')
      input(name='email' type='email' required='')
      input(name='password' type='password' required='')
      button(type='submit') enviar
