.card-component {
  box-sizing: border-box;
  height: 100%;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
}

.card-front {
  margin-top: 1rem;
  cursor: pointer;
  height: 28rem;
  width: 20rem;
  margin: 1.5rem;
  box-shadow: rgba(168, 168, 168, 0.678) 0px 25px 20px -20px;
}

.image {
  height: 80%;
}

.card-body {
  align-content: flex-end;
  height: 20%;
  background-color: rgb(211, 209, 209);
  padding: 0.5rem;
}

.card-body p {
  text-align: center;
}

.card-footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.type-des .icon-type {
  width: 100%;
  height: 1.2rem;
}

.card-front:hover {
  transition: all 0.5s linear;
  transform: translate3d(0, -1rem, 1rem);
}
