.card__container {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem;
}

.card-box {
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    cursor: pointer;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
}
