.main__home {
  max-width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-color: rgba(5, 5, 5, 0.493);
  height: 1000vh;
}

.image {
  margin: 0;
  padding: 0;
  height: 80%;
  padding: 0.5rem;
  background-color: rgb(58, 136, 238);
}
.icon-type{
  width: 5rem;
}
.card__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
}

.card-box {
  position: relative;
  cursor: pointer;
  margin-bottom: 1.5rem;
  margin-right: 1rem;
}

.card {
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  width: 20rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

.card_body {
  align-items: center;
  height: 20%;
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: rgb(211, 209, 209);
}
.card:hover {
  transform: translate3d(0, -1rem, 1rem);
  transform-style: preserve-3d;
  transition: all 0.4s linear;
}
