.body__home{
  background-color: aliceblue;
  height: 100vh;
}
.header__home{
  width: 100%;
  height: auto;
  padding: 1rem;
  background-color: rgb(28, 91, 146);
  display: flex;
  justify-content: space-between;
}

.button{
  padding: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  margin-right:5px;
  border-radius: 20px;
}


.nav__home{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__container{
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: space-evenly;
}

.card__content {
  border-radius: 3px;
  border: teal 2px solid;
  background-color: teal;
}

.card_body {
  display:flex; 
  padding: .5rem;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.3rem;
}

.card__button{
  font-size: xx-large;
} 

img{
  width: 100%;
}