.main__home {
  background-color: rgb(220, 223, 226);
  height: 100vh;
  padding: 2rem;
}

.button {
  padding: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  /* margin-right: 5px; */
  border-radius: 20px;
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.card__content {
  width: 20rem;
  height: auto;
  border-radius: 3px;
  border: teal 2px solid;
  background-color: teal;
}

.card_body {
  display: flex;
  padding: 0.5rem;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.3rem;
}

.card__button {
  font-size: xx-large;
}
.icon-box {
  display: flex;
  width: 4rem;
}
